.center_div{
    width:50%; /* value of your choice which suits your alignment */
    margin: 5vh auto 0;
    border-width: 1px;
    border-style: solid;
    border-color: #282c34;
    background-color: beige;
    padding: 5%;
}

.status{
    margin-top: 20%;
    margin-left: 90%;
}

.warning{
    margin-top: 10px;
}

.confirmMessage{

    margin: 2% 0;

}